/* version 1.0.1 */

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  color: #b5e853;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  text-align: left;
  margin: 0 0 20px;
}
p {
  color: #ffffff;
  padding-left: 30px;
  font-size: 15px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
.hr {
  border: 0;
  border-top: 2px dashed #b5e853;
}
li {
  color: #ffffff;
  font-size: 15px;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
}
.button {
  text-decoration: none;
  text-align: left;
  background-color: #121212;
  color: white;
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 10px 14px;
  font-size: 14px;
  display: inline-block;
  padding-left: 10px;
}
blockquote {
  border-left-style: dotted;
  border-left-width: 1px;
  border-left-color: gray;
  color: #8d8d8d;
  padding: 20px;
}
td {
  color: #ffffff;
  border-spacing: 20px;
  text-align: left;
  padding: 8px;
}
th {
  color: #ffffff;
  border-bottom: 1px dashed #b5e853;
  text-align: left;
  padding: 8px;
}
dl {
  color: #ffffff;
  text-align: left;
  padding: 5px;
}
dt {
  color: #ffffff;
  font-weight: bold;
}
.smallimg {
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}
.largeimg {
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.horizontalscroll {
  background-color: #242424;
  font-style: italic;
  overflow: auto;
  white-space: nowrap;
  color: #ffffff;
  padding: 10px;
}
ul {
  list-style: none;
}
ul li::before {
  content: ">>  ";
  color: #b5e853;
}
ol {
  display: table;
  margin-left: 0;
  margin-right: auto;
  list-style-position: inside;
}
/*  font style  */
.bold {
  font-weight: bold;
}
.ital {
  font-style: italic;
}
.oblique {
  font-style: oblique;
}
.overline {
  text-decoration: overline;
}
.strickthrough {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.keyword {
  color: #e867e8;
  border: 1px solid gray;
  background-color: black;
  padding: 2px 2px;
}
.linkk {
  color: #6cbdec;
  text-decoration: underline;
}
.w3-black,
.w3-hover-black:hover {
  color: #bab9b9 !important;
  background-color: #000 !important;
}
/* margin for button */
.leftmar {
  margin-left: 30px;
}
/* font colour*/
.gray {
  color: #8d8d8d;
}
.green {
  color: #b5e853;
}
/* padding */
.topp {
  padding-top: 10px;
}
.left {
  padding-left: 30px;
}
.mediumsize {
  font-size: 19px;
}
